/// Photo book flip transitions
/// 
/// Todo: Needs to be refactored to be extendible & support z-index

$transition-duration: 300ms;
$page-rotate: rotateY(-180deg);
$turned-cover-scale: scale(1.1);
$turned-page-scale: scale(1.07, 1.05); // Todo: Js based fix required to scale accurately

.book {
    transform-style: preserve-3d;

    // Photo grid global container
    &, .photo-grid-container {
        transition: all $transition-duration;
    }

    // Front cover open state
    &--cover-open {
        max-width: auto;

        @include media-breakpoint-up(md) {
            transform: translateX(50%);
        }

        // Front cover turns
        .front-cover {
            background: #C9CDD4;
            box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
            transform: $page-rotate $turned-cover-scale;
            transition: all $transition-duration;

            // Photo grid hides
            .photo-grid-container {
                opacity: 0;
            }
            &:after {
                opacity: 0;
            }
        }

        // Back cover (inside) color appears
        .back-cover {
            background: #ACB1B9;
            transform: rotateY(-0deg) $turned-cover-scale;
            transition: all $transition-duration;
        }

        // Page after front cover open
        .page {
            transform: $turned-page-scale;
            &--turned {
                box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
                transform: $page-rotate $turned-page-scale;
                z-index: 1;
            }
        }
    }

    .page {
        transition: all $transition-duration;
    }

    // Focusing photobook viewport to the left page on mobile
    &--focus-left-page {
        @include media-breakpoint-down(md) {
            left: 50%;
            transform: translateX(50%);
        }
    }
}