/// Base UI setting
///
/// Note: Font size of html is set to 62.5% so that all the REM measurements throughout are based on 10px sizing.
/// Calculation: (10 / 16) * 100; 
html {
	font-size: 62.5%;
}
body {
	color: color('ui','darker');
	background-color: color('ui', 'lightest');
	font-size: font-size('body');
	line-height: 1.6;
	font-weight: 400;
	font-family: font-family('base');
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: border-box;
}