/// Overall typography styles
///
/// Todo: Needs to be refactored and extend components 

/// Base font sizes for heading tags
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
	margin-bottom: 1.5rem;
}

.meta {
	font-size: font-size('caption');
	line-height: line-height('caption');
}

/// Action caption styles
.action-caption {
    font-weight: font-weight('bold');
    letter-spacing: rem(1px);
	text-transform: uppercase;
	&--small {
		font-size: font-size('caption');
	}
}

/// Links and flat link settings
/// Todo: Needs to be moved and extended as a separate link component
a {
	color: color('brand');
	&.flat-link {
		color: inherit;
		text-decoration: none;
	}
}