$collapsedHeight: rem(90px);

#card-container--checkout {
    box-shadow: 0px -10px 25px rgba(144, 99, 205, 0.2);
    .card.card--action {
        padding: 3rem;
        height: $collapsedHeight;
    }
}