#card-container--moments {
    .card--action-tabs {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .checkout-button-pad-fix {
        padding-bottom: 115px;
    }

    @include media-breakpoint-up(md) {
        height: calc(100vh - 80px);
        max-height: 100% !important;
    }
}
