/// Card animations
///
/// Different transitions can be implemented by passing current different animation attributes to...
/// ...current card, next card on card focus, blur states through the card component

/// Next card comes to focus
.card-moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/// Current card becomes blur
.card-scaleDown {
	-webkit-animation: scaleDown .7s ease both;
	animation: scaleDown .7s ease both;
}

@-webkit-keyframes scaleDown {
	from { }
	to { opacity: .6; -webkit-transform: scale(.9); }
}
@keyframes scaleDown {
	from { }
	to { opacity: .6; -webkit-transform: scale(.9); transform: scale(.9); }
}