/// Card layout
$card-radius: rem(55px);
$card-wrapper-bg: color('ui', 'darker');
$card-padding: rem(30px);
$blur-transform: scale(0.9);
$card-transition-duration: 500ms;

.card-wrapper {
    background-color: $card-wrapper-bg;
    position: relative;
    overflow:hidden;
    height: 100vh;
    width: 100%;
}
.card-container {
    border-radius: $card-radius $card-radius 0 0;
    background-color: white;
    display: flex;
    flex-direction: column;
	position: absolute;
    bottom: 0;
    overflow: hidden;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    transition: all ease-in-out ($card-transition-duration + 100);

    height: 100vh;
    width: 100%;

    &--focus {
        background-color: color('ui', 'lightest');
    }
    &--blur {
        transform: $blur-transform;
        transform-origin: bottom;
        transition: transform $card-transition-duration;
        opacity: .8;
        > .card {
            background-color: white;
        }
    }
    .show-on-card-inactive, .show-on-card-active {
        opacity: 1;
        max-height: 100vh;
        transition: opacity ease-in-out 200ms;
    }
    &--active {
        top: 0 !important;
        max-height: 100vh !important;
        .card {
            height: 100vh;
        }
        .show-on-card-inactive {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
    &--inactive {
        .show-on-card-active {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
            transition-delay: 200ms;
        }
    }
}

.card {
    padding: $card-padding;
    position: relative;
    transition: all ease-in-out $card-transition-duration;
    width: 100%;
    &--round {
        border-radius: $card-radius $card-radius 0 0;
    }
    &--full-height {
        height: 100vh;
    }


    &--action {
        &-size-fix {
            margin: - ($card-padding);
            padding: $card-padding;
            width: 100vw;
        }
    }
    
    /// Notch fixer for phones with notches.
    /// Todo: Activate by identifying device
    .card__notch-fixer {
        display: block;
        padding-top: 2rem;
        width: 100%;
    }
}